.traffic-piechart-container,
.traffic-linechart-container {
	border: 1px solid black;
	display: inline-block;
	padding: 5px;
	border-radius: 5px;
}

.traffic-piechart {
	width: 400px;
	height: 300px;
}

.traffic-linechart-container {
    display: flex;
}

.traffic-linechart {
	height: 300px;
	flex: 1;
}
