<div class="p-4">
	<div>
		<!-- chart -->
		<div class="flex gap-4 items-center">
			<div class="traffic-piechart-container">
				<ngx-echarts
					[autoResize]="true"
					echarts
					[options]="trafficPieChartoptions"
					[merge]="updateTrafficPieChartOptions"
					class="traffic-piechart"
				></ngx-echarts>
			</div>

			<div class="traffic-linechart-container flex-1">
				<ngx-echarts
					[autoResize]="true"
					echarts
					[options]="trafficLineChartoptions"
					[merge]="updateTrafficLineChartOptions"
					class="traffic-linechart"
				></ngx-echarts>
			</div>
		</div>

		<!--  -->
		<div class="grid grid-cols-1 gap-4">
			<!-- <div class="flex gap-2 p-4">
				<span class="px-3 py-1 rounded-full bg-green-100 text-green-900 text-md font-medium"
					>BENIGN</span
				>
				<span class="px-3 py-1 rounded-full bg-red-100 text-red-800 text-sm font-medium"
					>Reflection Amplification</span
				>
				<span class="px-3 py-1 rounded-full bg-red-100 text-red-800 text-sm font-medium"
					>UDP</span
				>
				<span class="px-3 py-1 rounded-full bg-red-100 text-red-800 text-sm font-medium"
					>Syn</span
				>
			</div> -->

			<div
				class="relative overflow-x-auto rounded-md shadow-[0px_2px_3px_-1px_rgba(0,0,0,0.1),0px_1px_0px_0px_rgba(25,28,33,0.02),0px_0px_0px_1px_rgba(25,28,33,0.08)]"
			>
				<table class="w-full text-md text-left rtl:text-right text-gray-500">
					<thead class="text-md text-center text-gray-700 uppercase bg-gray-50">
						<tr>
							<th scope="col" class="px-6 py-3">Timestamp</th>
							<th scope="col" class="px-6 py-3">Dest Post</th>
							<th scope="col" class="px-6 py-3">Protocol</th>
							<th scope="col" class="px-6 py-3">Flow Duration</th>
							<th scope="col" class="px-6 py-3">Predict</th>
							<th scope="col" class="px-6 py-3">Confidence score</th>
							<th scope="col" class="px-6 py-3">Category</th>
							<th></th>
						</tr>
					</thead>
					<tbody>
						@for (item of flowTemps; track $index) { @if(item.predict !== 'BENIGN') {
						<tr class="bg-red-200 text-red-900 text-center border-b border-gray-200">
							<td class="px-6 py-4">
								{{ item.timestamp }}
							</td>
							<td class="px-6 py-4">
								{{ item.dst_port }}
							</td>
							<td class="px-6 py-4">
								{{ item.protocol }}
							</td>
							<td class="px-6 py-4">
								{{ item.flowDuration }}
							</td>

							<td class="px-6 py-4 font-bold">{{ item.predict }}</td>
							<td class="px-6 py-4 font-bold">{{ item.confidence_score }}%</td>
							<td class="px-6 py-4 font-bold">{{ item.catgory }}</td>
						</tr>
						} @else {
						<tr class="bg-green-200 text-green-900 text-center border-b border-gray-200">
							<td class="px-6 py-4">
								{{ item.timestamp }}
							</td>
							<td class="px-6 py-4">
								{{ item.dst_port }}
							</td>
							<td class="px-6 py-4">
								{{ item.protocol }}
							</td>
							<td class="px-6 py-4">
								{{ item.flowDuration }}
							</td>

							<td class="px-6 py-4 font-bold">{{ item.predict }}</td>
							<td class="px-6 py-4 font-bold">{{ item.confidence_score }}%</td>
							<td class="px-6 py-4 font-bold">{{ item.catgory }}</td>
						</tr>
						} }
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>
