# pip install -r requirements.txt: cai dat
# pip freeze > requirements.txt: liet ke goi

# python -m venv .venv
# .venv\Scripts\activate
# pip install jupyterlab

# ** linux
# virtualenv .venv
# source .venv/bin/activate
# pip install --upgrade pip
# pip install -r requirements.txt

# sudo $(which python3) main.py


scipy
scapy
scikit-learn
pandas
numpy
requests
urllib3
confluent-kafka
torch
torchvision
opencv-python